
    <div [hidden]="submitted" class="p-fluid grid formgrid">
      <form (ngSubmit)="onSubmit()" #personForm="ngForm" name="">
        <div class="form-group">
            <label for="name">First Name &nbsp;<i style="color:red;" pTooltip="Required">*</i></label>
            <input type="text" class="form-control"  id="name" required [(ngModel)]="model.name" name="name" #name="ngModel"> 
            <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
                Name is required
            </div>   
        </div> <br>
    
        <div class="form-group">
            <label for="lastname">Last Name&nbsp; <i style="color:red;" pTooltip="Required">*</i></label>
            <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" name="lastname" #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine"
                class="alert alert-danger">
                Name is required
            </div>   
        </div> <br>
    
        <div class="form-group">
            <label for="gender">Gender&nbsp;<i style="color:red;" pTooltip="Required">*</i></label>
            <select class="form-control"  id="gender" required [(ngModel)]="model.gender" name="gender" #genders="ngModel">
                <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
            </select>
            <div [hidden]="genders.valid || genders.pristine" class="alert alert-danger">
              Gender is required
            </div>
        </div> <br>
        <div class="field col-12">
            <label for="basic">Date of Birth &nbsp; </label>
            <i class="pi pi-question-circle" pTooltip="You must be 15 years or older"></i><br>
            <p-calendar dateFormat="dd.mm.yy" id="basic" inputId="basic" name="calendar" [maxDate]="fifteenYears" [(ngModel)]="model.birthdate"></p-calendar>
            
        </div> <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Submit</button>
            </div>
            
          </div>
        </div>
      </form>
    </div>
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Last Name</div>
        <div class="col-xs-9">{{ model.lastname }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Gender</div>
        <div class="col-xs-9">{{ model.gender }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Date of Birth</div>
        <div class="col-xs-9">{{ bd }}</div>
      </div>
      
      <button type="button" class="btn btn-primary" (click)="submitted=false">Edit</button>
      <button type="button" class="btn btn-success" (click)="sendData()">Send</button>
    </div>

